!:root{
    --column:column;
}

.container{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
flex-wrap: wrap-reverse;
align-content: flex-start;
height: 100px;
border: 1px solid #3e2fc0;
}
.container div{

min-width: 200px;
border: 1px solid #ff5555;
}
